<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CapoFearBasedController/src/pl/edu/agh/capo/fear/app/CapoApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pl.edu.agh.capo.fear.app.CapoApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="3 1.0 D:/CapoRobotFearBasedControl_10_2015/CommonResources/MazeRoboLabEmptyMap2.roson  0.5 0.5 0.5 4.5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CapoFearBasedController"/>
</launchConfiguration>
